.hamburger {
  transition: 200ms;
  position: relative;
}

.hamburger-menu-container {
  position: fixed;
  inset: 0; /* top:0; left:0; right:0; bottom:0; */
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2); /* subtle overlay */
  z-index: 998;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  max-width: 300px;
  height: 100vh;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: white;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
  transform: translateX(100%); /* start off screen */
  animation: slide-in 0.4s forwards linear;
  overflow-x: hidden;
}

/* Smooth slide-in using transform */
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
