com-name-div::part(comNameDiv) {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

com-name-div::part(comNameImg) {
    height: 5rem;
    width: 5rem;
}

com-name-div::part(comNameSpan) {
    font-size: 2rem;
}