.about-welcome-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    padding: 2rem;
}

.about-welcome-desc-div{
    width: 48rem;
    height: auto;
    background-color: var(--golden-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 2%;
    align-self: center;
}

.about-welcome-desc-bottom{
    font-size: 1rem;
}

.about-welcome-desc-span{
    font-size: 2.2rem;
}

.about-welcome-desc-heading{
    font-size: 3rem;
    padding-top: 2rem;
}

.about-desc-div{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: start;
    padding: 2rem;

    font-size: 1.5rem;
}

.support{
    align-self: center;
    background-color: white;
    border: 2px solid;
    border-radius: 5px;
    padding: 0.5rem;
}

.support:hover{
    cursor: pointer;
    background-color: pink;
}

.people-div{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 4rem;
    width: 100%;
    justify-content: center;
}

.person-div{
    width: 10rem;
    height: auto;
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: red;

    img{
        height: 8rem;
        width: 8rem;
        border: 2px solid;
        border-radius: 3.5rem;
        background-color: white;
        align-self: center;
    }
}

.person-name{
    font-size: 1.5rem;
}

.person-position{
    font-size: 1rem;
}