.about-welcome-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    padding: 2rem;
    background-color: #f9f7f1; /* Jemný pastelový tón */
    border-radius: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-welcome-desc-div {
    width: 48rem;
    height: auto;
    background-color: #ffba00; /* Žlutá barva z loga */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 2%;
    align-self: center;
    border-radius: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.about-welcome-desc-bottom {
    font-size: 1rem;
    font-style: italic;
}

.about-welcome-desc-span {
    font-size: 2.2rem;
    font-weight: bold;
}

.about-welcome-desc-heading {
    font-size: 3rem;
    padding-top: 2rem;
    color: #41a841; /* Zelená barva z loga */
    font-weight: bold;
    text-align: center;
}

.about-desc-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 1.6;
    color: #555;
}

.support {
    align-self: center;
    background-color: #ffba00; /* Žlutá z loga */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.support:hover {
    cursor: pointer;
    background-color: #41a841;
    transform: scale(1.05);
}

.people-div {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 2rem;
    width: 100%;
    justify-content: center;
    padding: 2rem;
}

.person-div {
    max-width: 200px;
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #ffba00;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.person-div:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.person-div img {
    height: 8rem;
    width: 8rem;
    border: 2px solid #ffba00;
    border-radius: 50%;
    background-color: white;
}

.person-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
    text-align: center;
}

.person-position {
    font-size: 1rem;
    color: #777;
    text-align: center;
}