.footer-container{
    background-color: rgb(61, 58, 58);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    color: white;

    a{
        text-decoration:double;
        color:aqua;
    }
}

.footer-main{
    display: flex;
    flex-direction: row;
    gap: 60%;
}

.footer-desc{
    margin-left: 9rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.footer-heading{
    font-size: 1.5rem;
}

.footer-content{
    font-size: 0.7rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-content-heading{
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.footer-content-text{
    color: inherit;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}