.hero-container {
    color: inherit;
    width: 60rem;
    height: 40rem;
    position: relative;
    overflow: hidden;
}

.hero-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('../images/hero-theme.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    z-index: -1;
    filter: contrast(1.4);
}


.hero-description{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: transparent;
    backdrop-filter: blur(5px);
    width: 24rem;
    height: 100%;
    margin-left: auto;
    padding: 1rem;
    padding-top: 30%;
}

.hero-text{
    filter: none;
    color: white;
    font-size: 1.2rem;
    padding-left: 2rem;
    filter: none;
    position: relative;
    z-index: 2;
}

.hero-question{
    font-size: 3rem;
    padding: 1rem;
}

.hero-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
    padding: 0;
}

.hero-item {
    background-color: var(--golden-color);
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-item-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
}

.hero-item-text {
    font-size: 1.3rem;
    color: white;
    text-align: center;
}

.hero-icon {
    font-size: 2rem;
    color: white;
}

.hero-info-container{
    width: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    backdrop-filter: blur(9px);
}

.hero-info-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    color: inherit;
    padding: 1rem;
    width: 15rem;
}

.hero-img-large{
    padding: 2rem;
    scale: 2;
    margin-left: auto;
    margin-right: auto;
}

.hero-info-span{
    color: black;
    font-size: 1rem;
}

.hero-info-textfield{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
    height: 19rem;
    color: black;
    padding: 1rem;
}

.hero-info-textfield-legend{
    font-size: 1.3rem;
}