:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    overflow: scroll;
    position: relative;
    margin: 0;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scale: 0.5;
    
    background-image: url("../images/dandelionBackground.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    
    filter: blur(10px);
    z-index: -1;
}


a{
    text-decoration: none;
    color: inherit;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;

    *{
        max-width: 60rem;
    }
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}