.navBar{
    border: solid 2px;
    padding-right: 2rem;
    border: none;
    background-color: white;
}

.navBarUl{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    align-items:end;
}

.navBarLi{
    width: auto;
    font-size: 1.6rem;
    transition: 200ms ease;
    cursor: pointer;
    position: relative;
    padding-bottom: 10px;
}

.navBarLi::after{
    content: "<";
    font-size: 0.8rem;
}

.navBarLi:hover{
    color: rgb(179, 118, 27);
}

.navBarLi:hover::after{
    content: "▼";
    font-size: 0.8rem;
}

.navBarLi:hover .navBarLiDetails{
    display: flex;
    transition: 200ms ease-in-out;
}

.navBarLiDetails{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: white;
    font-size: 0.9rem;
    color: black;
    padding: 0.5rem;
    border-bottom: solid 2px rgb(179, 118, 27);

    .descItem{
        padding: 0.3rem;
    }

    .descItem:hover{
        transition: 200ms ease-in-out;
        color: rgb(179, 118, 27);
        transform: translateX(0.1rem);
    }
}