#fixed-nav {
    position: fixed;
    top: 0;

    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    scale: 1;
    filter:opacity(0.4);
    transition: 200ms;
}

#fixed-nav:hover{
    filter: opacity(1);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1.5rem;
}

.main-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
    margin-left: auto;
    margin-right: auto;
}

.main-nav-item {
    position: relative;
    font-size: 1.3rem;
}

.main-nav-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.main-nav-item:hover{
    cursor: pointer;
}

.main-nav-item:hover .main-nav-dropdown {
    display: flex;
}

.main-nav-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-bottom: solid 3px var(--golden-color);
    font-size: 0.8rem;
}

.dropdown-item {
    padding: 1rem;
    text-decoration: none;
    color: #333;
}

.dropdown-item:hover {
    background-color: #f4f4f4;
}