#fixed-nav {
    position: fixed;
    top: 0;

    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    scale: 1;
}



.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main-nav-item {
    position: relative;
}

.main-nav-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.main-nav-item:hover .main-nav-dropdown {
    display: flex;
}

.main-nav-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    padding: 1rem;
    text-decoration: none;
    color: #333;
}

.dropdown-item:hover {
    background-color: #f4f4f4;
}