.socials-nav {
    background-color: #605d63; 
    color: white;
    width: 100%;
    height: auto;
    padding: 0.1rem;
}

.socials-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.socials-list {
    display: flex;
    list-style: none;
    gap: 0.4rem;
    padding: 0;
}

.socials-item{
    border: solid 1px white;
    border-radius: 0.3rem;
    padding: 0.4rem;
}

.socials-item:hover{
    background-color: black;
    cursor: pointer;
}

.socials-list a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.support-button {
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    border: solid 1px;
    border-color: #2f2e30;
    color: white;
}

.support-button:hover{
    background-color: red;
    cursor: pointer;
}

.support-button a {
    color: inherit;
    text-decoration: none;
}

.user-account {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: solid 1px white;
    border-radius: 0.4rem;
    padding: 0.5rem;
    margin-right: 2rem;
}

.user-account:hover{
    background-color: black;
    cursor: pointer;
}

.user-account a {
    color: white;
    text-decoration: none;
}